<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/img/guia.png">
    </a>

    <!-- MENU -->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="/">|||| Home</a>||||
            <a href="/admin/categories"> Categorias</a> ||||
            <a href="/admin/categories/new"> Nova Categoria</a>||||
        </li>

    </ul>
</nav>